#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.label > div {
  font-family: Helvetica, Arial;
  position: absolute;
  /* background: #00000088; */
  color: white;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 30px;
  user-select: none;
}
